.tab-content{
    margin-bottom: 50px;
}

input[type=text] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

input[type=email] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.wrapper{
    flex-direction: row;
}

.custom-row{
    display: flex;
    flex-wrap: wrap;
}

.custom-col{
    max-width: 44%;
    flex: 1 0 50%;
    margin-right: 23px;
}
.custom-col input{
    width: 100%;
    margin: 0;
}

.button-wrapper{
    padding-top: 25px;
    display: flex;
    justify-content: flex-end;
    padding-right: 72px;
}

.button-wrapper button{
    min-width: 160px;
    margin-right: 15px;
}

.button-wrapper button:last-child{
    margin-right: 0;
}

.bootstrap.snippet{
    height: 75vh;
}
.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 78%;
    padding: 20px;
}
