<!DOCTYPE html>
<meta charset="utf-8">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<div class="container my-2" >
    <div class="card topcard">
        <div class="row">
            <div class="col-md-8"> <h2 style="margin:10px">My Todo List</h2>
                <div class="search-container">
                    <form action="/action_page.php">
                        <input type="text" placeholder="Search.." name="search">
                        <button type="submit" style="height:35px"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <a href="/todo/form" class="add-icon"><i class="fas fa-plus-square" style="font-size: 40px;"></i></a>
            </div>
        </div>
    </div>

    <div th:each="todo : ${todos}">
        <div class="card article" th:id="'article-' + ${todo.id}" th:data-id="${todo.id}">
            <div class="row">
                <div class="col-10">
                    <h2 class="leftpart"><a href="singlepost.html"th:text="${todo.title}"></a></h2>
                </div>

                <div class="col-2">
                    <!--                                            <img src="/img/new.png" id="listicon" alt="List Icon" />-->
                    <a class="add-icon" th:data-id="${todo.id}" th:onclick="|showDetails(${todo.id})|" title="Todo Details"><i class="far fa-list-alt" style="font-size: 35px;text-align: right;margin-bottom: 10px;"></i></a>
                </div>
            </div>

        </div>
    </div>


    <!--                                    <div class="modal-content">-->
    <!--                                        <span class="close">&times;</span>-->
    <!--                                        <h2><a href="singlepost.html"th:text="${todo.title}"></a></h2>-->
    <!--                                    <p class="lead" th:text="${todo.note}"></p>-->
    <!--                                    <p class="lead" th:text="${todo.dueDate}"></p>-->
    <!--                                        <button id="buttonEdit" type="submit" class="btn btn-primary subbuton">Edit</button>-->
    <!--                                        <button id="buttonDelete" type="submit" class="btn btn-primary subbuton">Delete</button>-->

    <!--                                    </div>-->
    <!--                                </div>-->

    </article>
    <div id="my-modal" class="modal"></div>


    <div>
    </div>
</div>
</div>
</div>
</div>

</body>
<!--
<script>
$(function(){
    $('#readmore').click(function(){
        $('#body').animate({height:'100%'});
        $(this).hide();
        return false;
    });
});
</script>
-->
<script>
    function showDetails(id){
        console.log(id);
        var html = "";
        $("#my-modal").html("");
        $.ajax({
            url:'details/'+ id,

            type: "get",
            cache: false,
            success: function (result) {
                console.log(result);

                // html = "<div class='modal-content'><span class='close'>&times;</span> " +
                //     "<h2><a href='#'>" + result.title +"</a></h2><p class='lead'>"+ result.note +"</p>" +
                //     "<a href='/todo/delete/"+result.id+"'>Delete</a>"
                //     +"<a href='/todo/delete/"+result.id+"'></a></div>";

                html ="<div class='modal-content'><span class='close'>&times;</span>" +
                    "<form method='POST' id='update-todo-form'>" +
                    "<div class='row'>" +
                    "<div class='form-group col-md-8'>" +
                    "<label for='title' class='col-form-label'>Title</label> " +
                    "<input type='text' class='form-control' id='title' placeholder='Title' value='"+result.title+"'> " +

                    "</div>" +
                    "<div class='form-group col-md-8'>" +
                    "<label for='note' class='col-form-label'>Note</label> " +
                    "<input type='text' class='form-control' id='note' placeholder='note' value='"+result.note +"'> " +

                    "</div>" +
                    "<div class='form-group col-md-8'>" +
                    "<label for='dueDate' class='col-form-label'>dueDate</label> " +
                    "<input type='text' autocomplete='off' class='form-control' id='dueDate' placeholder='dueDate' value='"+result.dueDate +"'>" +
                    "</div>" +
                    "<div class='form-group col-md-8'>" +
                    "<select class='form-control'  id='dropPriorities'>" +
                    "<option value='0'>select priority</option>" +

                    "</select>" +
                    "</div>" +
                    "<div class='col-md-6'>" +
                    "<button  class='btn btn-primary' id='update-todo' data-id='"+result.id+"'>Update Todo</button>" +
                    "</div>" +
                    "</div>" +
                    "</form></div>";

                $("#my-modal").append(html);

                $.each( result.priorityDtoList , function( key, obj) {
                    var option ="";
                    if(obj.id == result.priority){
                        option = "<option value='"+ obj.id +"' selected>"+ obj.name +"</option>"
                    }else{
                        option = "<option value='"+ obj.id +"'>"+ obj.name +"</option>"
                    }

                    $("#dropPriorities").append(option);
                });
                $("#my-modal").css("display","block");
            },
            error: function (e) {
                console.log('Failed!: ' + e);
            }
        })
    }
</script>
<script th:inline="javascript">

    $(document).on("click", ".close",function () {
        $("#my-modal").css("display","none");

    });
</script>


<script type="text/javascript">
    $(document).on("click","#update-todo",function () {
        var id = $(this).attr("data-id");
        var title =$("#title").val();
        var note=$("#note").val();
        var dueDate =$("#dueDate").val();
        var priority = "";
        $.ajax({
            url:'update-todo/'+ id,
            data: {
                'title':title,
                'note':note,
                'dueDate':dueDate,
                'priority':1,

            },
            type: "POST",
            success: function (result) {
                console.log(result);
                window.reload();
            },
            error: function (e) {
                alert('hellooo!: ' + e);
            }
        })

    });


</script>
<!--
<script type="text/javascript">
    $(document).ready(function () {
        $('#save').on('select',function () {

            $.ajax({
                url:'todo/update/${id}'+$(this).parents("[data-id]").attr("data-id"),
                data: {'data-id': id},
                type: "post",
                cache: false,
                success: function () {
                    location.reload();

                },
                error: function (e) {
                    alert('Failed!: ' + e);
                }
            })

        });
    });

</script>
-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<footer th:insert="fragments.html :: footer"></footer>
</html>